<!DOCTYPE html>
<html lang="en">
  
<head>
    <title>Sass</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> 
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>

<body>

	<div class="w3-container" style="background-color: #191821">
		<h1>Sass</h1>
	</div>

	<div class="panel2">
		<p>ppt info here</p>
	</div>

	<div class="panel">
		<h1>insert code</h1>
	</div>
</body>

</html>
