$bg-1: #c70039;
$bg-2: #212f3c;
$background: linear-gradient(90deg, $bg-1 50%, $bg-2 50%);
$button-text: #000;
$title-bg: #fff;
$text: #fff;

body {
  background: $background;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

.glyphicon-chevron-down,
.glyphicon-chevron-up {
  font-size: 1.5em;
  padding-left: 2px;
}

.btn-circle {
  align-items: center;
  border-radius: 40px;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 40px;
}

.fa-arrow-down {
  color: $button-text;
}
@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }
}

.section1 {
  background: $title-bg;
  height: 100%;
  min-height: 715px;
  padding-top: 150px;
  text-align: center;
}

.section2 {
  height: 100%;
  padding-top: 150px;
  text-align: center;
}

.section3 {
  height: 100%;
  padding-top: 150px;
  text-align: center;
}

.section4 {
  height: 100%;
  padding-top: 150px;
  text-align: center;
}

.title {
  color: $text;
}

.title-desc {
  margin-top: 50px;
}

.navbar-brand {
  background: url('../images/sass.svg') no-repeat center center;
  background-size: contain;
  width: 50px;
  margin-right: 10px;
}

.info {
  color: $text;
  font-size: 20px;
  padding-left: 40px;
  text-align: left;
}
